<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View List User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css"/>

    <style>
        .paginate_button.previous {
            display: none !important;
        }
        .paginate_button.next {
            display: none !important;
        }
    </style>
</head>

<body>
<!-- Header  -->
<header>
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/home-page"><img src="img/talent_bigger.png"></a>
        <div>
            <div class="dropdown">
                <a href="#" class="dropbtn name__role"><span th:text="${USER.firstName.charAt(0) + '. ' + USER.lastName}"></span> | <b th:text="${USER.role.roleName}"></b><b class="carpet"></b></a>
                <div class="dropdown-content">
                    <a th:href="@{/edit(txtId=${USER.username})}"><i class="fas fa-address-card"></i>My info</a>
                    <a th:href="@{/edit(txtId=${USER.username})}"><i class="fa fa-book"></i>My courses</a>
                    <a href="#"><i class="fas fa-certificate"></i>My certifications</a>
                </div>
            </div>
            <div class="dropdown" th:if="${USER.role.roleName == 'Super Admin' || USER.role.roleName == 'Admin'}">
                <a href="#" class="dropbtn"><span>GO TO</span> <b class="carpet"></b></a>
                <div class="dropdown-content">
                    <a href="/home-page"><i class="fa fa-home"></i>Home</a>
                    <a href="/users"><i class="fa fa-user"></i>User</a>
                    <a href="/courseList"><i class="fa fa-book"></i>Courses</a>
                    <a href="/categorylist"><i class="fa fa-bars"></i>Categories</a>

                    <hr>
                    <a href="/user/create"><i class="fa fa-plus-circle"></i>Add user</a>
                    <a href="/addCourse"><i class="fa fa-plus-circle"></i>Add course</a>
                </div>
            </div>
            <input type="text" placeholder="Search">
            <a th:href="@{/logout}"><i class="fa fa-sign-out fa-lg" title="Log out"></i></a>
        </div>
    </div>
</header>
<!-- Header  -->
<main class="listUser">
    <section class="users">
        <div class="container">
            <div class="users__header">
                <a href="/home-page">Home / </a>

                <span>Users</span>
            </div>
            <div class="users__btn d-flex justify-content-between align-items-center">
                <a th:href="@{/user/create}" class="btn">Add user</a>
                <div class="users__btn-icon d-flex" >
                    <div class="--iconUsers active">
                        <i class="fas fa-th-list"></i>
                    </div>
                    <div class="--iconUsers">
                        <i class="far fa-list-alt"></i>
                    </div>

                </div>
            </div>
            <div class="users__table check-table">
                <table id="tableListUser">
                    <thead>
                        <tr>
                            <th class="tb_paddingleft">
                                user
                            </th>
                            <th>
                                email
                            </th>
                            <th class="tb_textalgin_center">
                                User type
                            </th>
                            <th class="tb_textalgin_center">
                                Registration
                            </th>
                            <th class="tb_textalgin_center">
                                last login
                            </th>
                            <th class="tb_textalgin_center">
                                options
                            </th>
                            <th style="display: none;"></th>
                            <th style="display: none;"></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="user: ${LISTUSER}" th:if="${user.status == 1}">
                            <td class="tb_paddingleft" th:text="${user.username}"></td>
                            <td th:text="${user.email}">quych.2000.se@gmail.com</td>
                            <td class="tb_textalgin_center" th:text="${user.roleName}">SuperAdmin</td>
                            <td class="tb_textalgin_center">29/06/2021</td>
                            <td class="tb_textalgin_center tb_active">A few moments ago</td>
                            <td class="tb_textalgin_center tb_option tb_active">...</td>
                            <td class="hidden"></td>
                            <td class="tb_option_layout hidden">
                                <div>
                                    <form action="edit">
                                        <input type="hidden" name="txtId" th:value="${user.username}">
                                        <button type="submit">
                                            <i class="icon-flagicon"><img src="img/edit.svg" alt=""></i>
                                        </button>
                                    </form>


                                    <form th:action="delete" method="POST" th:if="${!user.roleName.equalsIgnoreCase('Super Admin')}">
                                        <input type="hidden" name="txtUsername" th:value="${user.username}">
                                        <button type="submit">
                                            <i class="icon-flagicon"><img src="img/cancel.svg" alt=""></i>
                                        </button>
                                    </form>




                                </div>
                            </td>

                        </tr>
                    </tbody>

<!--                    <tr class="even-row-color">-->
<!--                        <td class="tb_paddingleft">l. quoc</td>-->
<!--                        <td>lequoc@gmail.com</td>-->
<!--                        <td class="tb_textalgin_center">Learner-Type</td>-->
<!--                        <td class="tb_textalgin_center">05/07/2021</td>-->
<!--                        <td class="tb_textalgin_center tb_active">08/07/2021</td>-->
<!--                        <td class="tb_textalgin_center tb_option tb_active">...</td>-->
<!--                        <td class="hidden"><div></div></td>-->
<!--                        <td class="tb_option_layout hidden">-->
<!--                            <div>-->
<!--                                <a href="#"><i class="icon-flagicon"><img src="img/edit.svg" alt=""></i></a>-->
<!--                                <a href="#"><i class="icon-flagicon"><img src="img/cancel.svg" alt=""></i></a>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
                </table>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>

<script th:src="@{/js/configDatatable.js}"></script>
</body>
</html>